@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-size: 0.9rem;
  background: #f1f1f1;
  width: 100%;

}

#logo {
	margin:auto;
}

.ustbilgi {
	border: 2px solid #c0d4e6;
	border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 20px;
}


#merkez {
	width:90%;
	margin:auto;
    text-align: center;
	background: white;
    border-radius: 10px;
    margin-top: 10px;
	padding-top: 12px;
	box-shadow:0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);
	border:0;
	
}

.orta {
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}
.stepper {
  display: flex;
  margin:auto;
}

.step--1,
.step--2,
.step--3 {
  width: 33.333333%;
  padding: 0.5rem 0;
  background: #134981;
  color: white;
  text-align: center;
  font-weight: 800;
}
.step--1,
.step--2 {
  border-right: 1px solid #5b83ab;
}

.step-active {
  background: #c0d4e6;
  color: #fff;
  border: 1px solid #c0d4e6;
  
}

.form {
  margin-top: 10px;
  background: #fff;
  text-align: center;
  position: absolute;
  width: 30rem;
  display: none;
  border-radius: 7px;
  overflow: hidden;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0;
}
.form--header-container {
  background: linear-gradient(to right, rgb(16 71 127), #c0d4e6);
  color: #fff;
  height: 6rem;
  padding: 1rem 0;
  margin-bottom: 1.2rem;
}

.form--header-title {
  font-size: 1.4rem;
}

.form--header-text {
  padding: 0.5rem 0;
}

input[type="text"] {
  text-align: center;
  padding: 0.4rem;
  margin: auto;
  margin-top: 0.5rem;
  width: 90%;
  display: block;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid #c0d4e6;
}

input:hover {
    outline: none ;
    box-shadow: 0 0 5px #719ECE;
}

input[type="number"] {
  padding: 0.4rem;
  margin: auto;
  margin-top: 0.5rem;
  width: 90%;
  /* display: block; */
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #c0d4e6;
}

#usdsymbol {
	position: relative; 
	left:20px;
	font-weight: 800;
}

button:focus {
    
    outline: none;
}
button:hover {
   background-color:#316292;
}
.form__btn {
  background: #134981;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    width: 7rem;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}
.form--message{
	text-align: -webkit-center;
	text-align: -moz-center;
	width: 100%;
    height: 95%;	
}

.form--result{
	text-align: -webkit-center;
	text-align: -moz-center;
	width: 100%;
    height: 95%;
}
.form--unconfirmation {
	text-align: -webkit-center;
	text-align: -moz-center;
	width: 80%;
    height: 95%;
	word-break: break-all;
}
.form--confirmation {
	text-align: -webkit-center;
	text-align: -moz-center;
	width: 80%;
    height: 95%;
	word-break: break-all;
}
#sonuc {
	width:100%;
	height: 70%;
	display: flex;
    align-items: center;
    justify-content: center;
}
#sonuc2 {
	width:100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}
#confirmtable {
	width:100%;
	height: 85%;
	display: flex;
    align-items: center;
    justify-content: center;
	box-shadow:0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);border:1px;
	margin-bottom: 8px;
	border-radius:8px;
	padding:8px;
}
#unconfirmtable {
	width:100%;
	height: 85%;
	display: flex;
    align-items: center;
    justify-content: center;
	box-shadow:0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);border:1px;
	margin-bottom: 8px;
	border-radius:8px;
	padding:8px;
}

#loadingicon {
	font-size: 10px;
    margin-top: 15px;
	font-weight:bold;
}

#paymentinfo {
	background: #134981;
    margin-bottom: 5px;
    width: 60%;
    font-size: 10px;
    color: white;
    /* height: 15%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
	padding: 5px;
}


#sendemail, #check, #refresh, #refresh2, #refresh3 {
    color: #fff;
    background-color: #134981;
    border-color: #134981;
}

#refresh2:hover {
    color: #fff;
    background-color: #316292;
    border-color: #316292;
} 

#refresh3:hover {
    color: #fff;
    background-color: #316292;
    border-color: #316292;
} 

#sendemail:hover {
    color: #fff;
    background-color: #316292;
    border-color: #316292;
} 

#check:hover {
    color: #fff;
    background-color: #316292;
    border-color: #316292;
} 

#refresh:hover {
    color: #fff;
    background-color: #316292;
    border-color: #316292;
}

.form-active {
  /* z-index: 1000; */
  display: block;

}
.form-active-animate {
  animation: moveRight 1s;
}
.form-inactive {
  display: block;
  animation: moveLeft 1s;
}


@keyframes moveRight {
  0% {
    transform: translateX(0rem) scale(0.1);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0rem) scale(0.1);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#errorarea, #errorarea2 {
	text-align: right;
    margin-right: 15px;
    margin-left: 15px;
    height: 30px;
}

#result2, #result3 {
	color: #E9223A;
    height: 30px;
    font-weight: bold;
    margin-bottom: 0;
	padding-top: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h2 {
	font-weight: 800;
	color: #31353d;
}
h1 {
	font-weight: 800;
}

a { 
font-weight:bold;
	text-decoration:underline;
	color: #15aabf;
 }
 a:hover { 
	color: #134981;
 }
 
 
.footers a {color:#696969;}
.footers p {color:#696969;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }
 .border {
    border: 0 !important;
	text-align: justify;
	margin-top: 10px;

}

.bg-light {
    background-color: transparent !important;
}
#disclaimer0 {
    border: 2px solid #c0d4e6;
	border-radius: 5px;
	text-align: justify;
	width: 90%;
	margin:auto;
	margin-top: 10px;
	margin-bottom:35px;
	padding:7px;
	font-size: 10px;
	color: #6c757d;
}
#disclaimer1 {
	margin-top: 0;
    margin-bottom: 0;
}
#copyright0 {
	text-align: center;
	width: 100%;
	font-size: 13px;
	color: #ffffff;
	position:fixed;
	bottom:0;
	background:#134981;
	padding:5px;
}
#copyright1 {
	margin-top: 0;
    margin-bottom: 0;
}


.pt-3 {
    padding-top: 0!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

#countdown {
	color:white;
	background-color: #134981;
	padding:3px;
	margin:auto;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
	border:0;
}

.counttime {
	margin-top:3px;
	margin-bottom: 7px;
}


@media screen and (min-width:1000px) {
	.stepper {
		width: 50%;
	}
	.form {
		width:50%;
	}
	#logo {
		width:150px;
	}
	.ustbilgi > p { 
		font-size:15px;
	}
	.ustbilgi > h2 { 
		font-size:20px;
		font-weight: 800;
	}
	.form--header-container > h1 {
		font-size:20px;
		font-weight: 900;
	}
	.form--header-container > p {
		font-size:14px;
	}
	input[type="text"], input[type="number"]{
		font-size: 15px;
	}
	#usdsymbol {
		font-size: 15px;
	}
	#errorarea, #errorarea2 > p { 
		font-size:14px;
	}
	#countdown {
		width: 50%;
	}
	#refresh, #refresh2, #refresh3, #check, #sendemail {
		font-size:16px;
	}
	#sendemail, #check, #refresh, #refresh2, #refresh3 {
		width:25%;
	}
	#paymentinfo {
		width: 50%;
		font-size: 10px;
    }
	#confirmtable {
		font-size: 13px;
	}
	#unconfirmtable {
		font-size: 13px;
	}

}

@media (min-width:800px) and (max-width:1000px) {
	.stepper {
		width: 60%;
	}
	.form {
		width:60%;
	}
	#logo {
		width:150px;
	}
	.ustbilgi > p { 
		font-size:14px;
	}
	.ustbilgi > h2 { 
		font-size:16px;
		font-weight: 800;
	}
	.form--header-container > h1 {
		font-size:18px;
		font-weight: 900;
	}
	.form--header-container > p {
		font-size:13px;
	}
	input[type="text"], input[type="number"]{
		font-size: 14px;
	}
	#usdsymbol {
		font-size: 14px;
	}
	#errorarea, #errorarea2 > p { 
		font-size:13px;
	}
	#countdown {
		width: 60%;
	}
	#refresh, #refresh2, #refresh3, #check, #sendemail {
		font-size:14px;
	}
	#sendemail, #check, #refresh, #refresh2, #refresh3 {
		width:30%;
	}
	#paymentinfo {
		width: 60%;
		font-size: 10px;
    }
	#confirmtable {
		font-size: 13px;
	}
	#unconfirmtable {
		font-size: 13px;
	}

}

@media (min-width:600px) and (max-width:800px) {
	.stepper {
		width: 70%;
	}
	.form {
		width:70%;
	}
	#logo {
		width:120px;
	}
	.ustbilgi > p { 
		font-size:13px;
	}
	.ustbilgi > h2 { 
		font-size:15px;
		font-weight: 800;
	}
	.form--header-container > h1 {
		font-size:17px;
		font-weight: 900;
	}
	.form--header-container > p {
		font-size:12px;
	}
	input[type="text"], input[type="number"]{
		font-size: 13px;
	}
	#usdsymbol {
		font-size: 13px;
	}
	#errorarea, #errorarea2 > p { 
		font-size:12px;
	}
	#countdown {
		width: 70%;
	}
	#refresh, #refresh2, #refresh3, #check, #sendemail {
		font-size:13px;
	}
	#sendemail, #check, #refresh, #refresh2, #refresh3 {
		width:35%;
	}
	#paymentinfo {
		width: 70%;
		font-size: 9px;
    }
	#confirmtable {
		font-size: 11px;
	}
	#unconfirmtable {
		font-size: 11px;
	}

}

@media (min-width:400px) and (max-width:600px) {
	.stepper {
		width: 80%;
	}.form {
		width:80%;
	}
	#logo {
		width:120px;
	}
	.ustbilgi > p { 
		font-size:11px;
	}
	.ustbilgi > h2 { 
		font-size:13px;
		font-weight: 800;
	}
	.form--header-container > h1 {
		font-size:16px;
		font-weight: 900;
	}
	.form--header-container > p {
		font-size:11px;
	}
	input[type="text"], input[type="number"]{
		font-size: 12px;
	}
	#usdsymbol {
		font-size: 12px;
	}
	#errorarea, #errorarea2 > p { 
		font-size:11px;
	}
	#countdown {
		width: 80%;
		font-size: 11px;
	}
	#refresh, #refresh2, #refresh3, #check, #sendemail {
		font-size:11px;
	}
	#sendemail, #check, #refresh, #refresh2, #refresh3 {
		width:40%;
	}
	#paymentinfo {
		width: 80%;
		font-size: 8px;
    }
	#confirmtable {
		font-size: 9px;
	}
	#unconfirmtable {
		font-size: 9px;
	}

}

@media screen and (max-width:400px) {
	.stepper {
		width: 90%;
	}
	.form {
		width:90%;
	}
	#logo {
		width:140px;
	}
	.ustbilgi > p { 
		font-size:10px;
	}
	.ustbilgi > h2 { 
		font-size:12px;
		font-weight: 800;
	}
	.form--header-container > h1 {
		font-size:15px;
		font-weight: 900;
	}
	.form--header-container > p {
		font-size:10px;
	}
	input[type="text"], input[type="number"]{
		font-size: 16px;
	}
	#usdsymbol {
		font-size: 11px;
	}
	#errorarea, #errorarea2 > p { 
		font-size:10px;
	}
	#countdown {
		width: 90%;
		font-size: 9px;
	}
	#refresh, #refresh2, #refresh3, #check, #sendemail {
		font-size:10px;
	}
	#sendemail, #check, #refresh, #refresh2, #refresh3 {
		width:45%;
	}
	#paymentinfo {
		width: 90%;
		font-size: 7px;
    }
	#confirmtable {
		font-size: 7px;
	}
	#unconfirmtable {
		font-size: 7px;
	}


}

